.cirtificatesPage {
  height: fit-content;
  margin-top: 10vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beforeShow {
  opacity: 0;
  transform: translateX(-100px);
}

.cirtifContainer {
  width: 80%;
}

.parent-element {
  perspective: 1000px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cirtif {
  width: 30%;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  margin: 20px auto; /* centers the element horizontally */
  text-decoration: none;
}

.cirtif:hover {
  transform: rotateY(180deg);
}

.cirtif-front,
.cirtif-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(28, 28, 28, 0.24);
  backface-visibility: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.cirtif-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cirtif-front img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.cirtif-front h1 {
  font-size: 24px;
  margin-top: 20px;
  color: white;
  font-weight: 100;
  text-align: center;
  cursor: pointer;
}

.cirtif-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  -webkit-backface-visibility: hidden;
}
.logos {
  padding: 20px 90px;
  width: 100%;
  display: flex;
  opacity: 0;
  transform: translateX(50px);
  justify-content: space-around;
  transition: all 1s ease;
}

.logos img {
  transition: all 0.3s ease 0s;
  backdrop-filter: blur(2px);
}
.logos img:hover {
  scale: 1.2;
}
.cirtif-back p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
}

.cirtif-back span {
  font-size: 20px;
  font-weight: 300;
}

.cirtif-back a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 100;
  text-decoration: underline;
}

.cirtif-back a:hover {
  text-decoration: underline;
}

.show {
  transition: all 1s ease;
  transform: translateX(0);
  opacity: 1;
}

.skills {
  margin-top: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.skills > h1 {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  border: 3px solid #ffffff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.skills>h1::after {
  content: ""; 
  position: relative;
  margin-top: 5px;
  left: -10px;
  display: block;
  background-color: #ffffff;
  width: calc(100% + 20px);
  height: 3px;
}

.logos img{ 
  width: 64px;
  height: 64px;
}

#node{
  width: 75px;
}


@media screen and (max-width: 900px) {
  .cirtif {
    width: 40%;
    height: fit-content;
  }

  .cirtif-front,
  .cirtif-back {
    position: relative;
    display: flex;
    width: 100%;
    height: 50%;
    backface-visibility: hidden;
    border-radius: 0px;
    cursor: pointer;
    transform: rotateY(0deg);
  }

  .cirtif-back p {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
  }

  .cirtif-front h1 {
    font-size: 18px;
    margin-top: 10px;
    color: white;
    font-weight: 100;
    text-align: center;
  }

  .cirtif:hover {
    transform: rotateY(0deg);
  }

  .cirtif-back span {
    font-size: 15px;
    font-weight: 100;
  }
  .skills {
    margin-top: 60px;
  }

  .logos{
    display: flex;
    flex-wrap: wrap;
  }

  .logos img{ 
    width: 50px;
    height: 50px;
    margin: 10px;
  }

  #node{
    width: 60px;
  }
}

/* Styles for responsive design */
@media screen and (max-width: 500px) {
  .cirtif {
    width: 90%;
  }

  .cirtif-back p {
    font-size: 12px;
  }

  .cirtif-front h1 {
    font-size: 15px;
    margin-top: 8px;
  }

  .skills{
    width: 380px;
    margin-left: 0;
    margin-right: 0;
  }
}
