#contact-me {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10vh 4vw;
  align-items: center;
  justify-content: center;
}

#contact-me>img{
  width: 50%;
  display: none;
}


#contact-me>div>h1{
  color: white;
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 30px;
}
#contact-me a{
  color: white;
  text-decoration: none;
  text-decoration: underline;
}


@media screen and (max-width: 1020px) {
  #contact-me>img{
    width: 20%;
  }
}
@media screen and (max-width: 800px) {
  #contact-me>img{
    margin-bottom: 20px;
    width: 40%;
  }
  #contact-me{
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    padding: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #contact-me>div>h1{
    font-size: 13px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
  }

}
