.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 40px 20px;
  height: 90%;
}

.profile-picture {
  width: 25%;
  aspect-ratio: 1 / 1.3;
  border-radius: 20px;
  margin-left: 5%;;
  margin-right: 5%;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: translateX(50%);
}

.profile-info {
  text-align: center;
  color: #f2f2f2;
  width: 75vw;
  margin: 20px;
  border-radius: 10px;
  background-color: rgba(28, 28, 28, 0.24);
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: translateX(-50%);
  padding: 10px;
}

.profile-name {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-weight: 500;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: translateX(-100%);
}


.profile-summary {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  transform: translateX(0%);
}
@media only screen and (max-width: 768px) {
  .profile-container {
    flex-direction: column;
  }

  .profile-picture {
    aspect-ratio: 1 / 1.3;
    width: 150px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .profile-name {
    font-size: 1.8em;
  }

  .profile-summary {
    font-size: 1em;
  }
}
